{%extends 'main.html'%}

{% block content%}
<main>
    <section class="section">
      <div class="container">
        <div class="row no-gutters-lg">
          <div class="col-12">
            <h2 class="section-title">Latest Articles</h2>
          </div>
          
          <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="row">
              {% for i in database%}
              <div class="col-md-6 mb-4">
                
                
                <article class="card article-card article-card-sm h-100">
                 
                  
                     
                    <div class="card-image">
                      <div class="post-info"> <span class="text-uppercase">{{i.project_created}}</span>
                
                      </div>
                      <a href = "{% url 'artical' i.project_id %}"> <img loading="lazy"  src="{{i.project_image.url}}" alt="Techno Images" class="w-100"> </a>
                    </div>
                 
                  <div class="card-body px-0 pb-0">
                    <ul class="post-meta mb-2">
                      <li> <a href="">{{i.project_catogery_name}}</a>
                      </li>
                    </ul>
                    <h2><a class="post-title" href="{% url 'artical' i.project_id %}"> {{i.project_head}} </a></h2>
                    
                    <div class="content"> <a class="read-more-btn" href="{% url 'artical' i.project_id %}">Read Full Article</a>
                    </div>
                  </div>
                  
                </article>
                
                
              </div>
  
              {% endfor%}
            
            </div>
           
          </div>
          

          <div class="col-lg-4">
    <div class="widget-blocks">
      <div class="row">
   
        <div class="col-lg-12 col-md-6">
          <div class="widget">
            <h2 class="section-title mb-3">Advertiesment</h2>
       
          </div>
        </div>
        <div class="col-lg-12 col-md-6">
       
        </div>
      </div>
    </div>
  </div>
        </div>
      </div>
    </section>
  </main>
  {% endblock content%}